#conteneur
{
  background:black;
  width:100px;
  display:flex;
  flex-direction:row;
  color:white;
  flex-wrap:nowrap;
  justify-content: space-around;
  /*
  flex-direction:

  row : organisés sur une ligne (par défaut)

  column : organisés sur une colonne

  row-reverse : organisés sur une ligne, mais en ordre inversé

  column-reverse : organisés sur une colonne, mais en ordre inversé

  flex-wrap:

  nowrap : pas de retour à la ligne (par défaut)

  wrap : les éléments vont à la ligne lorsqu'il n'y a plus la place

  wrap-reverse : les éléments vont à la ligne lorsqu'il n'y a plus la place en sens inverse

  flex-wrap:

  nowrap : pas de retour à la ligne (par défaut)

  wrap : les éléments vont à la ligne lorsqu'il n'y a plus la place

  wrap-reverse : les éléments vont à la ligne lorsqu'il n'y a plus la place en sens inverse

  justify-content:

  flex-start : alignés au début (par défaut)

  flex-end : alignés à la fin

  center : alignés au centre

  space-between : les éléments sont étirés sur tout l'axe (il y a de l'espace entre eux)

  space-around : idem, les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités

  */
}
#conteneur
{
  border:blue dashed 3px;
  weight:100px;
}
.element:nth-child(1) /* Premier élément */
{
  order:3;
  background-color:blue;
}
.element:nth-child(2) /* Deuxième élément */
{
  order:2;
  background-color:purple;
  flex:1;
}
.element:nth-child(3) /* Troisième élément */
{
  order:1;
  background-color:yellow;
}
